<div class="top-page">
    <div class="container-fluid">
        <div class="margin-small">
            <div class="margin-medium">
                <img src="images/profile.png" class="center-block img-responsive" style="border-radius: 10px;" width="200px"`>
            </div>
            <div>
                <div class="about-block">
                    <div class="text-center name-about">Maneesh Tewani</div> 
                    <p class="large-p">Maneesh is a Computer Science Student at Purdue University.
                    He has been programming since he was 14 years old. He has been solving problems through developing software solutions.
                    His passion for writing code grows more and more every day. </p>
                    <p class="large-p">
                    He started out learning Java/C++ at a very young age and then shifted to 
                    the web world in 2014. For two years in the web industry he has gained experience as an Intern, Intern Team Leader, and Project Lead.
                    Later he ventured out of web and learned about the complexities of mobile Operating Systems such as Android and how those Systems process images.
                    </p>
                    <p class="large-p">In his free time he catches up on the latest tech trends, plays tennis, plays video games, and answers
                    programming questions on Quora.</p>
                </div>
            </div>
        </div>
    </div>
</div>
