* {
    margin: 0;
}
html, body {
    height: 100%;
    padding: 0;
    font-family: BebasNeue, Arial, Helvetica, sans-serif;
}
.center {
    text-align: center;
}
.padding-top {
    padding-top: 20px;
}
.float-left {
    float: left;
    width: 70%;
}
.skills {
    margin-top: 2px;
}
.text-right {
    text-align: right;
}
.proficient {
    width: 75%;
    background: #448AFF;
}
.expert {
    width: 100%;
    background: #00E676;
}
.relative-container {
    position: relative;
}
.w-40 {
    width: 40%;
}
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}
.intermediate {
    width: 50%;
}
.skill {
    border-radius: 2px;
    border: 2px solid #448AFF;;
    margin: 2px;
    padding: 3px;
}
#experience {
    background: #448AFF;
}
.nav {
    position: absolute;
    bottom: 2px;
    right: 2px;
}
.left-panel {
    float: left;
    width: 20%;
}
.right-panel {
    width: 80%;
    float: right;
}
#contact {
    background-color: #F5F5F5;
    min-height: 150px;
}
.text-sm {
    font-size: 1.25rem;
}
#about {
    padding: 20%;
}
.float-right {
    float: right;
    width: 30%;
}
.center {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.padding {
    padding: 50px;
}
.rounded {
    border-radius: 10px;
}
.clear-both {
    clear: both;
}
.center-img {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.flex-container {
    display: flex;
    
}
.shadow {
    border-radius: 4px;
    -webkit-box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
}
.margin-top {
    margin-top: 10px;
}
.panel {
        display: block;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    width: 50%;
    flex: 1;
    background-color: white;
    color: black;
    padding: .50rem;
}
.sm-profile-img {
    width: 70%;
}
.profile-img {
    width: 50%;
}

/* If the text has multiple lines, add the following: */
.center h1 {
    display: inline-block;
    vertical-align: middle;
}
.text-lg {
    font-size: 3.0rem;
}
ul {
    list-style-type: none;
    font-family: BebasNeueLight;
}
@font-face {
    font-family: BebasNeue;
    src: url("/BebasNeue\ Regular.otf");
}
@font-face {
    font-family: BebasNeueLight;
    src: url("/BebasNeue\ Light.otf");
}
.margin-right {
    margin-right: 20px;
}
.white-bg {
    background-color: white;
}
.text-md {
    font-size: 1.75rem;
}
.text-center {
    text-align: center;
}
.full-height {
    height: 100%;
}
.white-text {
    color: white;
}
.grey-bg {
    background-color: #1c1e26;
}

